<h2 ng-click="showDetails = ! showDetails">{{ post.subject }}</h2>
<div ng-show="showDetails">
	<p>from: {{ post.username }}</p>
	<p>Up votes: {{ post.upVotes }} <button>UP</button> Down votes: {{ post.downVotes }} <button>DOWN</button></p>
	<textarea>{{ post.body }}</textarea>
	<br>
	<button ng-click="showReply = ! showReply">Reply</button>
	<div ng-show="showReply">
		<textarea></textarea>
		<button>Send Reply</button>
	</div>
	<br>
	<ul>
		<li ng-repeat="reply in post.replies">{{ reply }}</li>
	</ul>
	<h5>posted on {{ post.date | date : 'medium'}}</h5>
	<h6>post id: {{ post.topicId }}</h6>
	<br><br>
</div>